<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>Get the latest <span class="txt_clr">weather</span> info of your city</h1>
                        <a href="/weather"><button>check now</button></a>
                    </div>

                   
                </div>

            </div>
        </div>

    </div>
    <!-- footer -->

     {{>footer}}
</body>

</html>